body {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    margin: auto;
    background: linear-gradient(0.3turn, #41b3a3, #ffffff);
}

.container {
    display: flex;
}

.nav-bar {
    padding: 10px;
    height: 100vh;
    display: flex;

    color: whitesmoke;
    flex-direction: column;
}

.nav-bar > div {
    margin: 30px 0;
}

.nav-bar > div :hover {
    border-bottom: solid 3px #e8a87c;
}

.nav-bar > div > a {
    text-decoration: none;
    color: unset;
    padding: 10px;
}

#home {
    margin-right: 100px;
}

#list {
    margin-right: 100px;
}

#add-new {
    margin-right: 100px;
}

.remove-btn {
    top: -40%;
    right: 2%;
    height: 30px;
    width: 30px;
    font-weight: bolder;
    color: #e8a87c;
    border: none;
    background-color: transparent;
    position: absolute;
}

.todo-containters {
    text-align: center;
    background-color: whitesmoke;
    border-radius: 20px;
    margin: 20px 0;
    min-width: 82vw;
    max-width: 82vw;
}

.all-todos {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom: #e27d60 solid 1px;
    color: #e27d60;
}
.item:hover {
    border: #e8a87c 2px solid;
}
.item {
    border: 2px solid #e27d60;
    border-radius: 8px;
    min-width: 320px;
    max-width: 320px;
    text-align: center;
    margin: 40px 10px;
    word-wrap: break-word;
    position: relative;
}

#item-title {
    position: relative;
    border-bottom: 1px solid #e27d60;
}

#item-title:hover button {
    opacity: 0.7;
    border-bottom: solid 3px #e27d60;
}

#item-desc {
    height: 170px;
}

#item-desc > p {
    text-indent: 50px;
    height: 100%;
    text-align: justify;
    margin: 0 10px;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.new-todo {
    display: flex;
    flex-direction: column;
    width: 20vw;
    margin: 0 auto 20px auto;
    /* background: linear-gradient(0.3turn, #ffffff, #eb71e0); */
    padding: 30px;
    border: #41b3a3 solid 2px;
    border-radius: 5px;
    color: #41b3a3;
}

.new-todo > form > h5 {
    text-align: start;
    margin: 10px 0 0 0;
}

.new-todo > form > input {
    border: none;
}
.new-todo > form > button {
    margin-top: 5px;
    color: #41b3a3;
    background-color: transparent;
    border: #41b3a3 1px solid;
}

.new-todo > form {
    display: flex;
    flex-direction: column;
    /* align-self: flex-start; */
}

/* .new-todo > input {
} */

#todo-desc {
    height: 20vh;
}

.edit-btn:hover {
    opacity: 0.8;
    /* background-color: rgb(165, 56, 156); */
    color: #85dcbf;
    cursor: pointer;
}

.edit-btn {
    color: whitesmoke;
    font-weight: 550;
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 5px 10px;
    margin: 0 0 -35px -20px;
    background-color: #c38d9e;
    border: 1px solid #c38d9e;
    border-radius: 5px;
    /* outline: blue; */
}
